@model IEnumerable<PostSys.Models.GuestZone>
@{
	ViewBag.Title = "ListGuest";
}

<h2>ListGuest</h2>

@using (Html.BeginForm("CreateGuest", "GuestZones", FormMethod.Post))
{
	<table class="table table-hover">
		<tr>
			<th>Guest Name</th>
			<th>Faculty Name</th>
			<th>Delete</th>
			

		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Faculty.Name</td>
				<td>@Html.ActionLink("Delete", "DeleteGuest", new { id = item.Id })</td>
			</tr>
		}
	</table>
}
