@model IEnumerable<PostSys.Models.Class>
@{
	ViewBag.Title = "ListClasses";
}

<h2>ListClasses</h2>

@using (Html.BeginForm("ListClasses", "Classes", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Coordinator Name</th>
			@if (User.IsInRole("Marketing Manager"))
			{
				<th>Delete</th>
			}
			@if (User.IsInRole("Student"))
			{
				<th>Assign to Course</th>
			}

		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Faculty.Name</td>
				@if (User.IsInRole("Marketing Manager"))
				{
					<td>@Html.ActionLink("Delete", "DeleteClass", new { id = item.Id })</td>
				}
				@if (User.IsInRole("Student"))
				{
					<td>@Html.ActionLink("Assign", "AssignClass", new { id = item.Id })</td>
				}
				
			</tr>
		}
	</table>
}