@{
	ViewBag.Title = "PieChart";
}

<h2>PieChart</h2>

<html>
<head>
	<script src="~/Scripts/Chart.min.js"></script>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<style>
		#chart_container {
			width: 800px;
			height: auto;
			border: 1px solid #ddd;
			padding: 1px;
			border-radius: 4px;
		}
	</style>
</head>
<body>
	<div id="chart_container">
		<canvas id="pie_Chart"></canvas>
	</div>

	<script>
	@* X *@
	var datas = @Html.Raw(Json.Encode(ViewBag.FACULTYTYPE));
	@* Y *@
	var dataArray = @Html.Raw(Json.Encode(ViewBag.ANALYSISDATA));
	var canvas = document.getElementById('pie_Chart');
	var pieChart = new Chart(canvas, {
	  type: 'pie',
	  data: {
		labels: datas,
		datasets: [{
		  data: dataArray,
		  backgroundColor: [
			'rgba(255, 99, 132, 0.2)',
			'rgba(54, 162, 235, 0.2)',
			'rgba(255, 206, 86, 0.2)',
			'rgba(75, 192, 192, 0.2)',
			'rgba(153, 102, 255, 0.2)',
			'rgba(255, 159, 64, 0.2)'
		  ],
		  borderColor: [
			'rgba(255, 99, 132, 1)',
			'rgba(54, 162, 235, 1)',
			'rgba(255, 206, 86, 1)',
			'rgba(75, 192, 192, 1)',
			'rgba(153, 102, 255, 1)',
			'rgba(255, 159, 64, 1)'
		  ],
		  borderWidth: 1
		}]
	  },
		options: {
			responive: true,
			maintaninAspecRatio: true,
			scales: {
				xAxes: [{ ticks: { beginAtZero: true } }],
				yAxes: [{
					ticks: {
						max: 50,
						min: 0,
						precision: 1,
						stepSize: 1,
					}
				}]
			},
				labels: {
					render: 'percentage',
					precision: 2
				},
				legend: { display: true }
		},
	});
	</script>
</body>

</html>