@model IEnumerable<PostSys.Models.Course>
@{
	ViewBag.Title = "MyCourse";
}

<h2>ListCourse</h2>

@using (Html.BeginForm("MyCourse", "Courses", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Course Name</th>
			<th>Class Name</th>
			<th>Student Name</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Class.Name</td>
				<td>@item.Student.Email</td>
			</tr>
		}
	</table>
}